body {
    font-family: 'Apple Chancery', cursive;
}

h1 {font-weight:1000;
    color:'blue';
    font-family:'Snell Roundhand', cursive;
    color:blue;  
    text-align:center;
}


h2 {
    font-family:'Luminari', fantasy;
    color:red;
}

	

